@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --white: #fff;
  --hash: #d3d3d3;
}
body {
  width: 100%;
  min-height: 100vh;
  background-color: var(--hash);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
}

html {
  font-size: 62.5%;
}

.container {
  width: 100%;
  height: 400px;
  background-color: var(--white);
  position: relative;
  margin: 0 1.5rem;
  border-radius: 15px;
}
/* .img-cont img{
  width: 80%;
  height: 260px;
  border-radius: 15px;

}
.img-cont{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
} */


@media screen and (min-width: 700px) {
  .container {
    background-color: var(--white);
    /* width: 350px; */
    max-width: 350px;
    height: 450px;
    border-radius: 15px;
    position: relative;
  }
  .img-cont {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  img {
    width: 77%;
    height: 260px;
    border-radius: 15px;
  }
  .img-cont img {
    position: absolute;
    top: -3rem;
    z-index: 3;
  }
  .content {
    position: absolute;
    bottom: 10rem;
    width: 100%;
    padding: 0 2.2rem;
  }
  .music-title-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .music-title {
    bottom: 2.4rem;
  }

  .music-title h1 {
    font-size: 2.5rem;
    letter-spacing: 1px;
    color: #000;
    font-weight: 600;
    text-transform: capitalize;
  }
  .music-title span {
    display: block;
    font-size: 1.7rem;
    text-align: center;
    margin-top: 0.7rem;
    color: rgb(55, 55, 55);
    letter-spacing: 1px;
    font-weight: 500;
    text-transform: capitalize;
  }
  .control-buttons-group {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    gap: 1.8rem;
  }
  .buttons {
    position: absolute;
    bottom: -8rem;
    display: flex;
    align-items: center;
    gap: 0.2rem;
  }
  button {
    outline: 0;
    border: 0;
    padding: 0.8rem 1.3rem;
    border-radius: 5px;
    font-size: 1.6rem;
    text-transform: capitalize;
    font-weight: 600;
    color: rgb(48, 46, 46);
    background: transparent;
    cursor: pointer;
  }
  .fa-solid {
    font-size: 2.5rem;
    color: rgb(108, 107, 107);
  }
  .play-btn {
    font-size: 4rem;
  }
  .fa-solid:hover {
    filter: brightness(80%);
  }
  .progress {
    position: relative;
    background-color: rgb(191, 190, 190);
    height: 4px;
    border-radius: 15px;
  }
  .control {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.6rem;
  }
  .control .duration {
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: rgb(60, 59, 59);
  }
  .progress span {
    position: absolute;
    width: 0%;
    height: 100%;
    border-radius: 15px;
    display: block;
    background-color: rgb(55, 54, 54);
    animation: forward duration timing-function delay iteration-count direction
      fill-mode;
  }
  @keyframes forward {
    to {
    }
  }
}
